button {
    display: block;
}

.header {
    display: flex;
    align-items: center;
    height: 6vh;
}

.btn-subcategory,
.btn-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.streched {
    width: 100%;
}

.expense-comment {
    height: 100%;
}

.icon {
    width: 15px;
    height: 15px;
}

.btn-calc {
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-calc {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-50 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.chart-head {
    height: 2em;
}

.chart-donut {
    height: 100%;
}

.chart-donut div {
    height: 100%;
}

.height-100 {
    height: 100%;
}

.container {
    max-height: 88vh;
}

.row {
    max-height: 100%;
}

#chartdiv {
    height: 30vh;
    width: 100%;
}

.filter {
    width: 100%;
}

.filter-input {
    max-height: 24vh;
}

.table-wrapper {
    max-height: 64vh;
    display: flex;
}

.all-expense {
    max-height: 88vh;
    padding-top: 0px;
}

td,
th {
    width: fit-content;
    display: inline-flex;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

td {
    justify-content: flex-end;
}

td:last-child,
th:last-child {
    flex: 0.55;
    width: 90px;
}

th:last-child {
    justify-content: center;
}

td:last-child {
    justify-content: flex-end;
}

td:first-child,
th:first-child {
    flex: 0.5;
    width: 90px;
}

td:nth-child(5),
th:nth-child(5) {
    flex: 2;
    width: 90px;
}

td:nth-child(4),
th:nth-child(4) {
    flex: 0.5;
    width: 90px;
}

td:nth-child(4)::after {
    content: '\00A0р.';
}

tr {
    display: flex;
}

.footer {
    height: 6vh;
}

.table-expenses {
    max-height: 62vh;
    display: block;
    margin-bottom: 0 !important;
}

.table-expenses-head {
    width: 100%;
    height: 35px;
    display: block;
}

.table-expenses-body {
    display: block;
    position: relative;
    max-height: 58vh;
    width: 100%;
    word-wrap: normal;
    overflow: auto;
}

.make-button-wrap {
    text-align: center;
}

.total-period {
    display: flex;
    flex-direction: column;
}

.footer-field-head {
    display: flex;
    flex: 0.5;
    align-items: flex-start;
}

.footer-field-data {
    display: flex;
    flex: 1;
    align-items: flex-start;
}

.date-sort {
    padding: 0 !important;
}

.input-sort {
    opacity: 0 !important;
}

.sort-query-btn {
    position: absolute;
    border: 0;
    background-color: transparent;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 0;
}

.sort-btn-head {
    display: inline-flex;
    text-align: left;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin: 0;
    z-index: 1;
}

.sort-btn-head:focus {
    outline: unset !important;
    -webkit-focus-ring-color: none;
    border: none;
    box-shadow: none;
}

.img-sort-desc,
.img-sort-asc {
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    position: absolute;
    margin-right: 2px;
}

.sort-img-hidden {
    display: none;
}

.footer-field-data:after {
    content: '\00A0р.';
}

.expense-category-input {
    width: 100%;
}

.category-dropdown-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
}



.btn-dropright-main,
.btn-dropright-toggle,
.btn-dropright-submenu {
    border-radius: 0;
    border: none;
}

.btn-dropright-main,
.btn-dropright-submenu {
    flex: 2 !important;
    white-space: nowrap;
    /* min-width: 200px; */
}

.btn-dropright-toggle {
    flex: .5 !important;
    min-width: 30px;
}