<div class="row filter-input">
	<h2 class="col-12 mb-2 text-center">Фильтр и сортировка</h2>
	<form class="filter" method="POST" id="filterQuery" name="filter">
		<div class="row">
			<div class="col-3">
				<h6 class="mb-1">По дате создания</h6>
				<div class="form-group mb-1">
					<input type="date" form="filterQuery" name="startPurchaseDate" class="form-control form-control-sm" id="startPurchaseDate" value="{{ arrFilter.startPurchaseDate }}">
				</div>
				<div class="form-group mb-1">
					<input type="date" form="filterQuery" name="endPurchaseDate" class="form-control form-control-sm" id="endPurchaseDate" value="{{ arrFilter.endPurchaseDate }}">
				</div>
			</div>
			<div class="col-3"></div>
			<div class="col-3">
				<h6 class="mb-1">По принадлежности</h6>
				{% include "categoryblock.html" %}
			</div>
			<div class="col-3">
				<h6 class="mb-1">По цене</h6>
				<div class="form-group mb-1">
					<input type="text" form="filterQuery" class="form-control form-control-sm" id="startPrice" placeholder="От" name="startPrice" value="{{ arrFilter.startPrice }}">
				</div>
				<div class="form-group mb-1">
					<input type="text" form="filterQuery" class="form-control form-control-sm" id="endPrice" placeholder="До" name="endPrice" value="{{ arrFilter.endPrice }}">
				</div>
			</div>
		</div>
		<div class="row mb-1">
			<div class="col-4">
				<button type="reset" onclick="location.href = ''" form="filterQuery" class="btn btn-secondary btn-block">Сбросить фильры</button>
			</div>
			<div class="col-4">
				<button type="button" class="btn btn-success btn-block" data-toggle="modal" onclick="prepareFormToAdd();" data-target="#expenseModal">Добавить расход</button>
			</div>
			<div class="col-4">
				<button type="submit" form="filterQuery" class="btn btn-primary btn-block">Фильтровать</button>
			</div>
		</div>
		<input type='hidden' name='id' class='delButtonId'>
		<input type='hidden' name='order' class='order' value="{{ arrFilter.order }}">
		<input type='hidden' name='orderField' class='orderField' value="{{ arrFilter.orderField }}">
	</form>

</div>
