<div class="form-group mb-1">
	<div class="input-group">
		<div class="btn-group dropright w-100 btn-group-category">
			<button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle btn-category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

				{% if arrFilter.categoryId != null %}

					{% for category in arrCategories %}

						{% if category.id == arrFilter.categoryId %}

							{{ category.name }}

						{% endif %}

					{% endfor %}

				{% else %}
					Категория
				{% endif %}

			</button>
			<div class="dropdown-menu">
				{% for category in arrCategories %}

					<button type='button' class='dropdown-item' data-id="{{ category.id }}" onclick="changeHead(this);">{{ category.name }}</button>
					<div class='dropdown-divider'></div>

				{% endfor %}
			</div>
			<input type='hidden' form="filterQuery" name="categoryId" value="{{ arrFilter.categoryId }}">
		</div>
	</div>
</div>
