<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Organizer</title>
</head>

<body>
    {% include "header.html" %}
    <section class="all-expense">
        <div class="container">
    {% include "filter.html" %}

    {% include "table.html" %}
        </div>
    {% include "form.html" %}
    </section>
    {% include "footer.html" %}
    
    <script src="/js/checkCategoryBlock.js"></script>
    <script src="/js/countSumFooter.js"></script>
    <script src="/js/filterNoReset.js"></script>
    <script src="/js/sortButton.js"></script>
    <script src="/js/deleteButton.js"></script>
    <script src="/js/addExpense.js"></script>
    <script src="/js/updateExpense.js"></script>
    <script src="/js/prepareFormToAdd.js"></script>
    <script src="/js/prepareFormToUpdate.js"></script>
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>