<div class="row table-wrapper">
    <table class="table table-sm table-striped table-expenses">
        <thead class="table-expenses-head">
            <tr>
                {% for sortButton in sortButtons %}
                    <th scope="col" class="date-sort">{{ sortButton.buttonText }}                                    
                        <button type="button" class="sort-query-btn" data-order-field="{{ sortButton.sortField }}" onclick="sortButton(this)">
                            {% if arrFilter.orderField == sortButton.sortField and arrFilter.order == "ASC" %}
                            <img src="/img/sort_up.svg" class="img-sort-asc">
                            <img src="/img/sort_down.svg" class="img-sort-desc sort-img-hidden">
                            {% else %}
                            <img src="/img/sort_up.svg" class="img-sort-asc sort-img-hidden">
                            <img src="/img/sort_down.svg" class="img-sort-desc">
                            {% endif %}
                        </button>                 
                    </th>                 
                {% endfor %}    
                <th scope="col">            
                <h6 class="sort-btn-head">Примечание</h6>            
                </th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody class="table-expenses-body">
            {% for expense in arrExpense %}
                <tr class="expense-row-{{ expense.id }}">
                    <th scope="row">{{ expense.purchaseDate }}</th>
                    <td data-category-id="{{ expense.categoryId }}">{{ expense.categoryName }}</td>
                    <td data-subcategory-id="{{ expense.subcategoryId }}">{{ expense.subcategoryName }}</td>
                    <td>{{ expense.price }}</td>
                    <td>{{ expense.description }}</td>
                    <td>
                        <div class="col-5 p-0 make-button-wrap">
                            {% include "updatebtn.html" %}
                        </div>
                        <div class="col-5 p-0 make-button-wrap">
                            {% include "delbtn.html" %}
                        </div>
                    </td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>
</div>