<div class="row table-wrapper">
    <table class="table table-sm table-striped table-expenses">
        <thead class="table-expenses-head">
            {% include "tablehead.html" %}
        </thead>
        <tbody class="table-expenses-body">
            {% for expense in arrExpense %}
                <tr class="expense-row-{{ expense.id }}">                    
                    <th scope="row" data-category-id="{{ expense.categoryId }}">{{ expense.categoryName }}</th>
                    <td data-subcategory-id="{{ expense.subcategoryId }}">{{ expense.subcategoryName }}</td>
                    <td>{{ expense.purchaseDate|date('Y-m-d') }}</td>
                    <td>{{ expense.price }}</td>
                    <td>{{ expense.description }}</td>
                    <td>
                        <div class="col-5 p-0 make-button-wrap">
                            {% include "updatebtn.html" %}
                        </div>
                        <div class="col-5 p-0 make-button-wrap">
                            {% include "delbtn.html" %}
                        </div>
                    </td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>
</div>